<app-header>
  <span class="username" *ngIf="isLoggedIn" (click)="toggleLogin()">Harry Potter</span>

  <div class="auth-buttons">

    <app-button text="LOGOUT" *ngIf="isLoggedIn" (click)="toggleLogin()"></app-button>
    <app-button text="LOGIN" *ngIf="!isLoggedIn" (click)="toggleLogin()"></app-button>

  </div>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <app-info [title]="infoHeader" [text]="infoText">
    <app-button text="ADD NEW COURSE"></app-button>
  </app-info>

  <!-- Course Card component -->
  <app-course-card
  [title]="'Angular'"
  [description]="'Lorem impusm'"
  [duration]="150"
  [authors]="['Dave Haisenberg', 'Tony Ja']"
  [editable]="true">
  
  <button edit-button>Edit</button>
  <button remove-button>Remove</button>
</app-course-card>

  <!-- <app-courses></app-courses> -->

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>